header {
	background: #008CBC;
	color: black;
	padding: 5px 10px;
	overflow: hidden;
}


.small-white-box {
	height: 2.5em;
	width: 40px;
	background: #ffffff;
	float: left;
	margin-right: 15px;
}

.long-white-box {
	float: left;
	background: #008CBC;
	width: 200px;
	height: 2.5em;
	color: white;
	text-align: left;
	line-height: 2.5em;
}


.login {
	float: right;
	height: 2.5em;
	width: 3em;
	background: #0071A0;
	color: white;
	text-align: center;
	line-height: 2.5em;
}

.first {
	height: 30em;
	background: #33404F;
	color: white;
	font-size: 55px;
	text-align: center;
	background-image: url(https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/crowd.jpg?raw=true); 
}


.link {
	font-size: 35px;
	color: white;
	padding-top: 1em;
}

.blue2 {
	background: #018DBA;
	border: solid 12px;
	border-color: #212934;
	height: 40px;
	margin-top: 35px;
	margin-right: 1.5em;
	margin-left: 1.5em;
	border-radius: 4px;
	padding: 50px;
}

.small {
	background: white;
	height: 0.5em;
	margin-top: 5em;
	margin-right: 4.5em;
	margin-left: 4.5em;
}

.big1 {
	background: white;
	height: 2em;
	margin-top: 4em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}


.grey2 {
	height: 2em;
	background: #33404F;
	width: 7em;
	float: right;
	line-height: 1em;
}

.grey2 div {
	font-size: 0.5em;
	line-height: 1em;
}

div.smallfont  {
	font-size: 0.3em;
	margin-top: 2em;
	color: grey;
}


.big2 {
	background: white;
	height: 2em;
	margin-top: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}



.grey4 {
	height: 2em;
	background: #33404F;
	width: 7em;
	float: right;
}

.grey4 div {
	font-size: 0.5em;
	line-height: 1em;
}

div.smallfont2 {
	font-size: 0.3em;
	margin-top: 2em;
	color: grey;
}

.big3 {
	background: white;
	height: 2em;
	margin-top: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}



.grey6 {
	height: 2em;
	background: #33404F;
	width: 7em;
	float: right;
}

.grey6 div {
	font-size: 0.5em;
	line-height: 1em;
}

div.smallfont3 {
	font-size: 0.3em;
	margin-top: 2em;
	color: grey;
}

.light {
	background: #E8F0F5;
	height: 17em;
	margin-top: 0;
}

.light div {
	font-size: 2.85em;
	line-height: 1.2em;
	color: #33404F;
}

.grey {
	background: #D1D3D7;
	height: 150em;
	padding: 2em;
}

.white1 {
	background: white;
	height: 20em;
	margin-top: 1em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greya {
	background: #C6D2D7;
	height: 4em;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
}

.greyb {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}

.greyc {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}

.white2 {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greyd {
	background: #C6D2D7;
	height: 4em;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
}

.greye {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}

.greyf {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}




.white3  {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greyg {
	background: #C6D2D7;
	height: 4em;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
}

.greyh {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 1.7em;
}

.greyi {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}


.white4 {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greyj {
	background: #C6D2D7;
	height: 4em;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
}

.greyk {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}

.greyl {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}

.white5 {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greym {
	background: #C6D2D7;
	height: 4em;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
}

.greyn {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}


.greyo {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}


.white6 {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding-top: 2em;
}

.greyp {
	background: #C6D2D7;
	height: 4em;
	margin-top: 1em;
	margin-left: 10em;
	margin-right: 10em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
}

.greyq {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}


.greyr {
	background: white;
	color: #344051;
	margin-top: 1em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1.5em;
}



.lightblue {
	background: #E8F0F5;
	height: 14em;
	padding: 3.5em;
	margin-top: 0em;
}

.lightblue div {
	color: #344051;
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
}

.darkblue {
	background: #018DBA;
	height: 4em;
	margin-top: 4em;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 1em;
}

.darkblue div {
	color: white;
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
	padding-top: .5em;
}

.black {
	background: black;
	padding: 2em;
}

.words {
	background: black;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 3em;
}

.words2  {
	background: black;
	color: white;
	font-size: 15px;
	text-align: center;
	padding-bottom: 4em;
}

.white {
	background: white;
	height: 2em;
	margin-top: 0.5em;
	margin-left: 4em;
	margin-right: 7em;
	margin-bottom: 1em;
	padding-right: 4em;

}

.checkers {
	background: #E5E5E5;
	height: 2em;
}

.create div {
	color: white;
}



