header  {
	background: #008CBC;
	/*color: black;*/
	padding: 5px 10px;
	overflow: hidden;
	padding-bottom: 1em;
	margin-top: -0.5em;
	padding-right: 0;
	height: 3.5em;
}

.body {
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}

.span {
	color: #7DBFDC;
}

.small-white-box {
	height: 3.7em;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/logo.png?raw=true");
	width: 60px;
	margin-top: 0.5em;
	/*background: #ffffff;*/
	float: left;
	margin-right: 15px;
}

.long-white-box {
	float: left;
	background: #008CBC;
	width: 200px;
	padding-top: 0.25em;
	height: 2.5em;
	font-size: 1.5em;
	color: white;
	text-align: left;
	line-height: 2.5em;
}


.login {
	float: right;
	height: 4em;
	width: 10%;
	background: #0071A0;
	color: white;
	padding-top: 1em;
	text-align: center;
	line-height: 2.5em;
}

.first {
	padding-top: 4em;
	height: 100%;
	padding-bottom: 2em;
	/*background: #33404F;*/
	color: white;
	font-size: 55px;
	text-align: center;
	background-size: 100%;
	background-image: url("../images/crowd.jpg"); 
}


.link1 {
	font-size: 30px;
	margin-top: 1em;
	color: white;
	padding-top: 1em;
	margin-left: 3.5em;
	margin-right: 3.5em;
}


.link2 {
	font-size: 30px;
	color: white;
	margin-left: 3.5em;
	margin-right: 3.5em;
}

.blue2 {
	box-shadow: 0 0 0 .4em rgba(0,0,0,.2);
	background: #018DBA;
	width: 50%;
	/*margin-left: 6em;*/
	margin: 0 auto;
	padding-bottom: -1em;
	padding-top: 0.7em;
	height: 3em;
	margin-top: 1em;
	/*margin-bottom: 1em;*/

}

.small {
	background: white;
	height: 0.5em;
	margin-top: 5em;
	margin-right: 4.5em;
	margin-left: 4.5em;
}

.fa {
	color: #fff;
	margin-top: 10em;
}

.big1 {
	/*background: white;*/
	height: 2em;
	margin-top: 4em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}


.grey2 {
	height: 2em;
	/*background: #33404F;*/
	width: 7em;
	/*float: right;*/
	margin-left: 30%;
	line-height: 1em;
	background-image: url("../images/tablet.png");
	background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
	.grey2 {
		height: 2em;
		/*background: #33404F;*/
		width: 7em;
		margin-left: 0;
		/*float: right;*/
		/*margin-left: 30%;*/
		line-height: 1em;
		background-image: url("../images/tablet.png");
		background-repeat: no-repeat;
	}

	div.grey4 {
		margin-left: 0;
		/*float: right;*/
		height: 2em;
		background-repeat: no-repeat;
		background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/newspaper.png?raw=true");
		/*background: #33404F;*/
		width: 7em;
		/*float: right;*/
	}

	div.grey6 {
		height: 2em;
		background-repeat: no-repeat;
		background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/paint-brush.png?raw=true");
		/*background: #33404F;*/
		width: 7em;
		/*float: right;*/
		margin-left: 0;
	}
}

@media screen and (min-width: 600px) and (max-width: 749px) {
	.grey2 {
		height: 2em;
		/*background: #33404F;*/
		width: 7em;
		margin-left: 2em;
		/*float: right;*/
		/*margin-left: 30%;*/
		line-height: 1em;
		background-image: url("../images/tablet.png");
		background-repeat: no-repeat;
	}

	div.grey4 {
		margin-left: 2em;
		/*float: right;*/
		height: 2em;
		background-repeat: no-repeat;
		background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/newspaper.png?raw=true");
		/*background: #33404F;*/
		width: 7em;
		/*float: right;*/
	}

	div.grey6 {
		height: 2em;
		background-repeat: no-repeat;
		background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/paint-brush.png?raw=true");
		/*background: #33404F;*/
		width: 7em;
		/*float: right;*/
		margin-left: 2em;
	}
}

@media screen and (max-width: 450px) and (min-width: 400px) {
	.grey2 {
		height: 2em;
		/*background: #33404F;*/
		width: 7em;
		margin-left: -1em;
		/*float: right;*/
		/*margin-left: 30%;*/
		line-height: 1em;
		background-image: url("../images/tablet.png");
		background-repeat: no-repeat;
	}

	div.grey4 {
		margin-left: -1em;
		height: 2em;
		background-repeat: no-repeat;
		background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/newspaper.png?raw=true");
		/*background: #33404F;*/
		width: 7em;
		/*float: right;*/
	}

	div.grey6 {
		height: 2em;
		background-repeat: no-repeat;
		background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/paint-brush.png?raw=true");
		/*background: #33404F;*/
		width: 7em;
		/*float: right;*/
		margin-left: -1em;
	}
}

.grey2 div {
	font-size: 0.5em;
	line-height: 1em;
}

div.smallfont  {
	font-size: 0.3em;
	margin-top: 2em;
	color: #fff;
}


.big2 {
	/*background: white;*/
	height: 2em;
	margin-top: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}



.grey4 {
	height: 2em;
	background-repeat: no-repeat;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/newspaper.png?raw=true");
	/*background: #33404F;*/
	width: 7em;
	margin-left: 30%;
	/*float: right;*/
}

.grey4 div {
	font-size: 0.5em;
	line-height: 1em;
}

div.smallfont2 {
	font-size: 0.3em;
	margin-top: 2em;
	color: #fff;
}

.big3 {
	/*background: white;*/
	height: 2em;
	margin-top: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}



.grey6 {
	height: 2em;
	background-repeat: no-repeat;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/paint-brush.png?raw=true");
	/*background: #33404F;*/
	width: 7em;
	/*float: right;*/
	margin-left: 30%;
}

.grey6 div {
	font-size: 0.5em;
	line-height: 1em;
}

div.smallfont3 {
	font-size: 0.3em;
	margin-top: 2em;
	color: #fff;
}

.light {
	background: #E8F0F5;
	height: 100%;
	padding-bottom: 2em;
	margin-top: 0;
}

.light div {
	font-size: 2.85em;
	line-height: 1.2em;
	color: #33404F;
	padding-top: 0.5em;
	text-align: center;
}

.grey {
	background: #D1D3D7;
	height: 150em;
	padding: 2em;
}

.white1 {
	background: white;
	height: 20em;
	margin-top: 1em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greya {
	background: #C6D2D7;
	height: 4em;
	width: 62px;
	margin: 0 auto;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
	padding-right: 0.5em;
}

.greyb {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}

.greyc {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}

.white2 {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greyd {
	background: #C6D2D7;
	height: 4em;
	width: 62px;
	margin: 0 auto;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
	padding-right: 0.5em;
}

.greye {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}

.greyf {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}




.white3  {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greyg {
	background: #C6D2D7;
	height: 4em;
	width: 62px;
	margin: auto;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
	padding-right: 0.5em;
}

.greyh {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 1.7em;
}

.greyi {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}


.white4 {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greyj {
	background: #C6D2D7;
	height: 4em;
	width: 62px;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
	margin: auto;
	padding-right: 0.5em;
}

.greyk {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}

.greyl {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}

.white5 {
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding: 2em;
}

.greym {
	background: #C6D2D7;
	height: 4em;
	width: 62px;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
	margin: auto;
	padding-right: 0.5em;
}

.greyn {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}


.greyo {
	background: white;
	color: #344051;
	margin-top: 3em;
	margin-right: 0em;
	margin-left: 0em;
	text-align: center;
	font-size: 1em;
}


.white6 {
	/*background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	margin-bottom: 1.5em;
	padding-top: 2em;*/
	background: white;
	height: 20em;
	margin-top: 0.5em;
	margin-left: 0.5;
	margin-right: 0.5;
	padding-bottom: 2em;
	margin-bottom: 1.5em;
	padding-top: 2em;

}

.greyp {
	background: #C6D2D7;
	height: 4em;
	width: 62px;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	border-radius: 50%;
	padding-left: 1.5em;
	padding-top: 1em;
	margin: auto;
	padding-right: 0.5em;
}

.greyq {
	background: white;
	color: #344051;
	margin-right: 0em;
	margin-left: 0em;
	margin-top: 1em;
	text-align: center;
	font-size: 2em;
}


.greyr {
	background: white;
	color: #344051;
	/*margin-top: 1em;*/
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	text-align: center;
	/*font-size: 1.5em;*/
	height: 100%;
}



.lightblue {
	background: #E8F0F5;
	height: 100%;
	/*margin-top: 1em;*/
	padding-top: 2em;
}

.lightblue div {
	color: #344051;
	font-size: 3em;
	line-height: 1em;
	text-align: center;
}

.darkblue {
	background: #018DBA;
	width: 50%;
	/*margin-left: 6em;*/
	margin: 0 auto;
	height: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-right: 1.5em;
	/*padding-bottom: 1em;*/
}

.darkblue div {
	color: white;
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
	padding-top: .5em;
}

.black {
	background: black;
	padding: 2em;
}

.words {
	background: black;
	color: white;
	font-size: 15px;
	text-align: center;
	line-height: 3em;
}

.words2  {
	background: black;
	color: white;
	font-size: 15px;
	text-align: center;
	padding-bottom: 4em;
}

.white {
	height: 2em;
	text-align: center;
	margin-bottom: 1em;
	margin-left: 5em;
	padding-right: 4em;

}

.checkers {
	background: #E5E5E5;
	height: 2em;
}

.create div {
	color: white;
}

.apps {
	margin-left: 1em;
}



